/**
 * @since 2017-02-20 10:27
 * @author vivaxy
 */

:root {
    --background-color: #eee;
    --primary-color: #666;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.app {
    margin: 15px;
}

.title {
    color: #f63;
}

.show-more-text {
    background-color: #000;
    color: #fff;
}
